:root {
	--grey-100: #f2f2f7;
	--grey-200: #ebebf0;
	--grey-300: #e5e5ea;

	--grey-400: #8b8e93;
	--grey-500: #51555c;
	--grey-600: #272d3f;
	--grey-700: #202533;
	--grey-800: #1a1e29;
	--grey-900: #151821;
	--grey-1000: #15182180;

	--blue-100: #77c8ff;
	--blue-200: #55baff;
	--blue-300: #36aeff;
	--blue-400: #1aa3ff;
	--blue-500: #0099ff;
	--blue-600: #008ae6;
	--blue-700: #007ccf;
	--blue-800: #0070ba;
	--blue-900: #0099ff80;

	--color-bg: #141414;
	--color-bg-dark: #0a0a0a;
	--color-bg: var(--grey-900);
	--color-bg-dark: var(--grey-800);
	--color-text: var(--grey-100);
	--color-primary: #b9090b;
	--color-disabled: var(--grey-400);
}
